<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webapp-julie</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="icon" href="https://onepiecedle.net/img/Pokedle.b65734f0.png" type="image/png">
    <script src="/static/script.js" defer></script>
</head>
<body>
    <img src="/static/title.png" alt="Pokemon Search" id="page-title">
    <img src="/static/title2.png" alt="Pokemon Search" id="page-title2" style="display:none;">
    <div class="search-container">
        <input type="text" id="search" placeholder="Search for a Pokémon">
        <button id="game-submit" style="display:none;">Submit</button>
    </div>
    <ul id="suggestions"></ul>

    <div id="pokemon-info" style="display:none;">
        <div class="pokemon-left">
            <div class="pokemon-header">
                <h2 id="pokemon-name"></h2>
                <img src="/static/pokeball.png" alt="Pokéball" class="pokeball-icon">
            </div>
            <div class="pokemon-image-container">
                <img id="pokemon-image" alt="Image du Pokémon">
            </div>
        </div>
    
        <div class="pokemon-right">
            <div class="info-line"><strong>Description:</strong></div>
            <p class="desc"></p>
        </div>
    </div>
    <div id="game" style="display:none;">
        <table id="gameTable">
            <tr>
                <th>ID Pokédex</th>
                <th>Nom</th>
                <th>Type 1</th>
                <th>Type 2</th>
                <th>Taille</th>
                <th>Poids</th>
                <th>Génération</th>
            </tr>
        </table>
        <button id="btn">New Game</button>
    </div>
    <img id="game-image" src="/static/game-image1.png" alt="Image du Pokémon">
    <script>
        const pokemon_fr_names = {{ pokemon_fr_names | tojson }};
    </script>
</body>
<footer>Julie Chevallier ⸱ 2025 ⸱ IMT Mines Alès</footer>
</html>